/* .card-Header{
    display:'inline-block';
    width: 'max-content';
    background-color: 'white';
    color:'#202020';
    font-size:'8px';
    font-size: x-small;
    
     font-style:'inherit'; 
     font-weight:'400'; 
     padding-bottom: '5px';
} */